<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <aside>
        <div class="head">      
            <div>
                <ul class="menu">
                    <span class="logo">PalmaShop</span>
                    <a href="{% url 'index' %}" class="menuClick" data-content="Главная"><li>Главная</li></a>
                    <a href="{% url 'product' %}" class="menuClick" data-content="Каталог"><li>Каталог</li></a>
                    <a href="{% url 'manufacturer' %}" class="menuClick" data-content="Производители"><li>Производители</li></a>
                    <a href="{% url 'welcome' %}" class="menuClick" data-content="Личный кабинет"><li>Личный кабинет</li></a>
                    <a href="{% url 'contacts' %}" class="menuClick" data-content="Наши контакты"><li>Наши контакты</li></a>
                </ul>
            </div>         
        </div>
    </aside>
    <main>
        {% block content %}

        {% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="cabinetTextA">previous</a>
                      {% endif %}
                      <span class="cabinetTextA">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="cabinetTextA">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
    </main>
</body>
</html>